body {
    font-family: Times, "Times New Roman", Georgia, serif;
    margin: 20px;
    background-color: #bf7cfd;
}
h1 {
    color: #333;
    /* 가운데 정렬 */
    text-align: center;
}
form {
    margin-bottom: 20px;
    margin-left: 150px;
    margin-right: 150px;
    background: #d4b3ff;          
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
label {
    font-weight: bold;
}
input[type='text'],
input[type='date'],
textarea {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type='submit'] {
    background-color: #c2fc57;
    font-weight: bold;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type='submit']:hover {
    background-color: #51ff00;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    background: #d4b3ff;
    margin: 10px 0;
    margin-left: 300px;
    margin-right: 300px;
    padding: 15px;
    border-radius: 20px;
    /* 수평 및 수직 이동없이 요소 주위에 부드럽고 퍼진 매우 옅은 검은색 그림자 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
a {
    margin-left: 10px;
    color: #333;
    /* text-decoration: none; */
}
a:hover {
    text-decoration: underline;
    color: #c2fc57;
}
.centered {
    text-align: center;
}
p {
max-width: 600px;    
margin-left: auto;
margin-right: auto;
color: #black;
}
/* .custom_link {
    color:aquamarine;
    transition: color 2;
} */