<!-- overview.html -->
{% extends "base.html" %}

{% block title %}
책사이트 이름 - 프로젝트 개요
{% endblock %}

{% block content %}
<main>
    <section class="project-title container mt-4 p-4 shadow-sm fade-in">
        <h1>5Team project</h1>
    </section>
    <section class="project-section container mt-5 p-4 shadow-sm fade-in">
        <div class="project-description mt-4">
            <p>독서 인구 감소는 데이터로 증명되고 있습니다.</p>
            <p>
            <img src="{{ url_for('static', filename='images/trends17_19.png') }}" alt="그래프 이미지" class="graph-image img-fluid rounded shadow-sm">
            </p>
        </div>
    </section>
    <section class="project-section container mt-5 p-4 shadow-sm fade-in">
        <div class="project-description mt-4">
            <p>이는 독서보다 짧은 시간안에 재미를 주는 숏폼 컨텐츠의 등장과 여러 미디어 매체의 소비 증가로 인해서, 독서에 대한 접근이 어려워지고 있기 때문입니다.</br></p>
            <p>
                <img src="{{ url_for('static', filename='images/youtube.png') }}" alt="유튜브 사용량 증가 이미지" class="graph-image img-fluid rounded shadow-sm">
            </p>
        </div>
    </section>
    <section class="project-section container mt-5 p-4 shadow-sm fade-in">
        <div class="project-description mt-4">
            <p>
                이에 저희는 독서율 향상을 위해 출판사와 독자들에게 솔루션을 제공해줄 수 있는 홈페이지를 만들었습니다.</br>
                저희 홈페이지는 출판사나, 지역서점에는 도서의 트랜드를, 독자에게는 도서를 추천해주는 홈페이지입니다.</br>
            </p>
        </div>
    </section>
</main>
{% endblock %}