{% extends "base.html" %}

{% block title %}
책사이트 이름 - 홈
{% endblock %}

{% block content %}
    <main class="main-content">
        <details>
            <summary class="menu-box" data-target="ageOptions">
                <img src="{{ url_for('static', filename='age.png') }}" alt="연령대 아이콘">
                연령대
            </summary>
            <div class="options-container" id="ageOptions">
                <select id="age-select">
                    <option value="">선택</option>
                    <option value="10">10대</option>
                    <option value="20">20대</option>
                    <option value="30">30대</option>
                    <option value="40">40대</option>
                    <option value="50">50대</option>
                    <option value="60">60대</option>
                </select>
            </div>
        </details>
        
        <details>
            <summary class="menu-box" data-target="catOptions">
                <img src="{{ url_for('static', filename='images/books.png') }}" alt="카테고리 아이콘">
                카테고리
            </summary>
            <div class="options-container" id="catOptions">
                <select id="cat-select">
                    <option value="">선택</option>
                    <option value="가정과 살림">가정과 살림</option>
                    <option value="자연과학">자연과학</option>
                    <option value="만화/라이트노벨">만화/라이트노벨</option>
                    <option value="역사">역사</option>
                    <option value="건강 취미">건강 취미</option>
                    <option value="인문">인문</option>
                    <option value="경제 경영">경제 경영</option>
                    <option value="자기계발">자기계발</option>
                    <option value="유아">유아</option>
                    <option value="소설/시/희곡">소설/시/희곡</option>
                </select>
            </div>
        </details>
        
        <details>
            <summary class="menu-box" data-target="sexOptions">
                <img src="{{ url_for('static', filename='gender.png') }}" alt="성별 아이콘">
                성별
            </summary>
            <div class="options-container" id="sexOptions">
                <select id="sex-select">
                    <option value="">선택</option>
                    <option value="남성">남성</option>
                    <option value="여성">여성</option>
                </select>
            </div>
        </details>
    
        <div id="resultContainer" style="display: none;">
            <div id="result"></div>
            <button id="submitBtn" class="btn">확인</button>
            <button id="backButton" class="btn">취소</button>
        </div>
        
        <section class="content">
            <div class="alert alert-primary" role="alert" style="display: none;">
                This is a primary alert—check it out!
            </div>
        </section>
    </main>
{% endblock %}
